<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>Create an order</title>
    {% load staticfiles %}

    <link href="{% static 'gotango/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'gotango/css/form/main.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'gotango/img/favicon-copy.png' %}">
    <link href="{% static 'gotango/css/icons.min.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{% static 'gotango/js/materialize.min.js' %}"></script>
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424342-1', 'auto');
  ga('send', 'pageview');

</script>

<body style="font-size: 17px; font-family: Raleway,sans-serif;"
      class="flow-text">


<br>
<div id="preloader">
    <div class="container-fluid">
        <div id="success_modal" class="modal">
            <div class="modal-content">
                <h4>Booking successful</h4>
                <div id="modal_success_message"></div>
            </div>
            <div class="modal-footer">
                <a href="../" class=" modal-action modal-close waves-effect waves-green btn-flat">Back To Home</a>
            </div>
        </div>

        <div id="error_modal" class="modal">
            <div class="modal-content">
                <h4>We are sorry</h4>
                <div id="modal_error_message"></div>
            </div>
            <div class="modal-footer">
                <a href="../" class=" modal-action modal-close waves-effect waves-green btn-flat">Back To Home</a>
            </div>
        </div>

        <div class="row" id="form_container">
            <div class="row">
                <div class="col right" style="padding: 0 2rem">
                    <a class="btn-floating btn-large waves-effect btn-flat" href="/">
                        <i class="mdi mdi-close grey-text"></i>
                    </a>
                </div>
            </div>

            <form method="post" accept-charset="utf-8" class="col l8 offset-l2 offset-m1 m10 s12" id="booking_form">
                {% csrf_token %}
                <div class="row">
                    <ul class="collapsible" data-collapsible="accordion" id="request_form_accordion">
                        <li id="device_info">
                            <div id="device_info_header" class="collapsible-header active">
                                <i class="mdi mdi-cellphone-link"></i>Device details
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" id="model" name="model" class="autocomplete validate"
                                               placeholder="Search your device">
                                        <label for="model"
                                               data-error="Device is mandatory. Didn't find your device? Choose Other">Device*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="color" name="color" type="text">
                                        <label for="color">Colour</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="service_center" name="service_center">
                                            {% for service_center_type in service_center_types %}
                                                <option value="{{ service_center_type.0 }}">{{ service_center_type.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="service_center">Select a service center*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <input type="checkbox" id="is_under_warranty" name="is_under_warranty"/>
                                        <label for="is_under_warranty">My device is under warranty</label>
                                    </div>
                                </div>

                                <div id="device_info_submit" class="row" style="margin-bottom: 0">
                                    <a class="btn-floating btn-large waves-effect waves-light bottom right">
                                        <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </li>

                        <li id="defect_info">
                            <div id="defect_info_header" class="collapsible-header">
                                <i class="mdi mdi-wrench"></i>Defect information
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="defect_category" name="defect_category" required="required"
                                                class="validate">
                                            <option value="Z" selected="selected">Select a category</option>
                                            {% for defect_category in defect_category_list %}
                                                <option value="{{ defect_category.id }}">{{ defect_category }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="defect_category">Defect
                                            category*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="defect_dropdown" name="defect_dropdown">
                                            <option value="Z">Select a defect</option>
                                        </select>
                                        <label for="defect_dropdown">Select defects*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <a id="add_new_defect-btn" title="Add more defects"
                                       class="btn-floating btn-large scale-transition red scale-out">
                                        <i class="mdi mdi-plus"></i></a>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                     <textarea id="defect_description" name="defect_description"
                                               class="materialize-textarea" data-length="200"
                                               placeholder="Describe more"></textarea>
                                        <label for="defect_description">Defect description</label>
                                    </div>
                                </div>

                                <div class="row"></div>
                                {#This row serves as a line break#}

                                <div id="defect_info_submit" class="row" style="margin-bottom: 0">

                                    <a id="to_personal_info-btn"
                                       class="btn-floating btn-large waves-effect waves-light bottom right">
                                        <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </li>

                        <li id="personal_info">
                            <div id="personal_info_header" class="collapsible-header">
                                <i class="mdi mdi-face"></i>Personal information
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="customer_name" name="customer_name" type="text"
                                               class="validate">
                                        <label for="customer_name"> Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="email" class="validate" required>
                                        <label for="email" data-error="Invalid email!">Email address*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="phone_number" name="phone_number" type="text"
                                               class="validate" required pattern="[0-9]{10}">
                                        <label for="phone_number"
                                               data-error="Telephone number should be 10 digits">Mobile number*</label>
                                    </div>
                                </div>

                                <div id="personal_info_submit" class="row" style="margin-bottom: 0">
                                    <a class="btn-floating btn-large waves-effect waves-light bottom right">
                                        <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </li>

                        <li id="pickup_info">
                            <div id="pickup_info_header" class="collapsible-header">
                                <i class="mdi mdi-map-marker"></i>Pickup information
                            </div>
                            <div class="collapsible-body">
                                <div class="row" style="margin-bottom: 0">
                                    <div class="input-field col s12">
                                        <input id="address1" name="address1" type="text" class="validate" required>
                                        <label for="address1" data-error="Address is mandatory">Address line 1*</label>
                                    </div>

                                    <div class="input-field col s12">
                                        <input id="address2" name="address2" type="text">
                                        <label for="address2">Address line 2</label>
                                    </div>

                                    <div class="input-field col s12">
                                        <input id="landmark" name="landmark" type="text">
                                        <label for="landmark">Landmark</label>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="text" id="area" name="area" class="autocomplete validate"
                                                   placeholder="Start typing area in Bangalore" required>
                                            <label for="area"
                                                   data-error="Area is mandatory. If you are based in Bangalore and didn't find your area? Choose Other">Area*</label>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <input id="pickup_date" name="pickup_date" type="text"
                                               class="datepicker "
                                               style="margin-bottom: 10px">
                                        <label for="pickup_date">Pickup
                                            date*</label>
                                    </div>

                                    <div class="input-field col s12">
                                        <input name="address_type" type="radio" id="office" checked/>
                                        <label for="office">Office</label>

                                        <input name="address_type" type="radio" id="home"/>
                                        <label for="home" style="padding-right: 20px">Home</label>
                                    </div>

                                    <div class="row"></div>
                                    {#This row serves as a line break#}

                                    <div class="input-field col s10">
                                        <input type="checkbox" name="standby" id="standby"/>
                                        <label for="standby">I will need a spare phone in the
                                            meantime (chargeable @ Rs 50 per day)</label>
                                    </div>

                                    <div class="row"></div>
                                    {#This row serves as a line break#}

                                    <div class="row" style="margin-bottom: 0">
                                        <button id="submit" type="submit"
                                                class="btn-floating btn-large waves-effect waves-light bottom right">
                                            <i class="mdi mdi-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Google Code for Lead Generated Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 862169122;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "y9CDCO_u3W4QotCOmwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/862169122/?label=y9CDCO_u3W4QotCOmwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>

<script src="{% static 'gotango/js/form.js' %}"></script>

<script>
    $(document).ready(function () {
        const $defect_categories = $('select[name=defect_category]');
        const $defects = $('select[name=defect_dropdown]');

        $("#to_personal_info-btn").click(function () {

            if ($("#selected_defects").length == 0 || $("#selected_defects tr").length == 0) {
                if ($defect_categories.val() == "Z" || $defects.val() == "Z") {
                    //check if error is not already present
                    if ($defect_categories.val() == "Z" && $("#defect_category_error").length == 0) {
                        var defect_category_input = $defect_categories.closest('.input-field');
                        var defect_category_label = defect_category_input.find('label');
                        defect_category_label.after('<div id="defect_category_error" class="row"><p class="error_note" style="color: #EA454B;font-size: 12px;">Please select defect category.</p></div>');
                    }

                    if ($defects.val() == "Z" && $("#defect_error").length == 0) {
                        var defect_input = $defects.closest('.input-field');
                        var defect_label = defect_input.find('label');
                        defect_label.after('<div id="defect_error" class="row"><p class="error_note" style="color: #EA454B;font-size: 12px;">Please select a defect.</p></div>');
                    }
                }
                //this can happen when a defect is removed
                else {
                    if ($("#defect_error").length == 0) {
                        var defect_input = $defects.closest('.input-field');
                        var defect_label = defect_input.find('label');
                        defect_label.after('<div id="defect_error" class="row"><p class="error_note" style="color: #EA454B;font-size: 12px;">Please select a defect.</p></div>');
                    }
                }
            }
            else {
                $("#defect_info_header").data("valid", "true");
                $("#personal_info_header").click();
            }
        });

        $defect_categories.change(function () {
            $("#defect_category_error").remove();
            if ($(this).val() == 'Z') {
                $defects.html('<option value="Z">Select a defect</option>');
                // trigger event
                $defects.material_select();
            }
            else {
                let defect_category_id_to_defect_category = [];
                let defect_categories = [];
                let defects = [];

                {% for defect_category in defect_category_list %}
                    var dc = {id: '{{ defect_category.id }}', name: '{{ defect_category }}'};
                    defect_categories.push(dc);
                {% endfor %}

                {% for defect in defect_list %}
                    var d = {id: '{{ defect.id }}', name: '{{ defect }}', map_id: '{{ defect.defect_category_id_id }}'};
                    defects.push(d);
                {% endfor %}

                for (i = 0; i < defect_categories.length; i++) {
                    var defect_category = defect_categories[i];
                    defect_category_id_to_defect_category[defect_category.id] = defect_category.name;
                }

                var defect_categories_and_defects = {};
                for (i = 0; i < defects.length; i++) {
                    var defect = defects[i];

                    if (defect_categories_and_defects[defect_category_id_to_defect_category[defect.map_id]] === undefined)
                        defect_categories_and_defects[defect_category_id_to_defect_category[defect.map_id]] = [];
                    defect_categories_and_defects[defect_category_id_to_defect_category[defect.map_id]].push(defect);
                }

                var defect_options = defect_categories_and_defects[defect_category_id_to_defect_category[$(this).val()]];

                defect_options.sort(function (a, b) {
                    if (a.name == 'Other' && b.name == 'Other') return 0;
                    if (a.name == 'Other') return 1;
                    if (b.name == 'Other') return -1;

                    if (a.name < b.name) return -1;
                    if (a.name > b.name) return 1;
                    return 0;
                });

                var options = '<option value="Z">Select a defect</option>';
                for (var i = 0; i < defect_options.length; i++) {
                    options += '<option value="' + defect_options[i].id + '">' + defect_options[i].name + '</option>';
                }

                $defects.html(options);

                // trigger event
                $defects.material_select();
            }
        });

        //Autocomplete code
        $('input#model').autocomplete({
            data: JSON.parse("{{ device_list }}".replace(/&quot;/g, "\""))
        });

        $('input#area').autocomplete({
            data: JSON.parse("{{ areas }}".replace(/&quot;/g, "\""))
        });

        // Side Navigation bar options
        $(".button-collapse").sideNav({
            edge: 'right',
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
    });
</script>
</html>
