<!doctype html>

<!--[if lt IE 7]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoTango - The online service center.</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if IE]>
                <link rel="shortcut icon" href="wp-content/themes/eddiemachado-bones-79c7610/favicon.ico">
            <![endif]-->


    <!-- This site is optimized with the Yoast SEO plugin v4.0.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="../index.html"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="GoTango - The online service center for smartphone repair in Bangalore."/>
    <meta property="og:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta property="og:url" content="https://www.GoTango.in/"/>
    <meta property="og:site_name" content="GoTango"/>
    <meta name="twitter:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="twitter:title" content="GoTango - The online service center for smartphone repair."/>

    <!-- / Yoast SEO plugin. -->
    <link rel="icon" href="{% static 'gotango/img/favicon-copy.png' %}">
    <link rel='dns-prefetch' href='https://fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='https://s.w.org'/>


    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <link rel='stylesheet' id='googleFonts-css'
          href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' type='text/css' media='all'/>
    <link rel='stylesheet' id='bones-stylesheet-css'
          href='{% static 'gotango/css/homepage/main.css' %}'
          type='text/css' media='all'/>


    <!-- Bad Behavior 2.2.19 run time: 0.778 ms -->

    <link href="{% static 'gotango/css/icons.min.css' %}" rel="stylesheet">
    <script src="{% static 'gotango/js/materialize.min.js' %}"></script>

</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424342-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
    $(window).scroll(function () {
        var y = $(window).scrollTop();
        if (y > 100) {
            $(".section--menu").css("background-color", "#1E88E5");
        } else $(".section--menu").css("background-color", "");
    });
    $(document).ready(function(){

        $("#a-contact").click(function() {
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });

        $("#a-navbar-menu").click(function() {
            $("#menu-the-main-menu").toggle();
        });
    });


</script>

<body class="home page-template page-template-page-homepage page-template-page-homepage-php page page-id-8" itemscope
      itemtype="http://schema.org/WebPage">

<div class="section section--menu">
    <div class="site-wrapper">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-1/5@desktop header__item">
                <a class="header--logo" href="/"><img
                        src="{% static 'gotango/img/gotango_logo_no_tm.svg' %}"
                        class="header__logo"/></a>
            </div>
            <div class="o-layout__item u-1/2 u-4/5@desktop o-layout--right">
                <div class="menu">
                    <a id="a-navbar-menu" href="#" class="menu__mobile-trigger hidden-from-start@desktop visible-from-start@mobile"><i
                            class="fa fa-bars"></i><i class="fa fa-close"></i></a>
                    <ul id="menu-the-main-menu" class="menu__items o-list-inline" style="display: none;">
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
                            <a id="a-howitworks" href="/#howitworks">How it works</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                            <a id="a-features" href="/#features">Features</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-315">
                            <a id="a-pricing" href="/#pricing">Pricing</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-317">
                            <a id="a-contact" href="#contact">Contact</a></li>
                        <li class="o-list-inline__item button button--reverse menu-item menu-item-type-custom menu-item-object-custom menu-item-31"
                            style="cursor: hand">
                            <a class="button button--reverse" href="/book">BOOK NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section--header">
    <div class="site-wrapper">
        <div class="header-cta">
            <div class="o-layout o-layout--reverse o-layout--middle cta--image">
                <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/2@desktop">
                    <img src="{% static 'gotango/img/404.png' %}"/>
                </div>
                <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/2@desktop">
                    <h1 class="header__text">Ooops Page Not Found! </h1>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="section section--element section--footer home--footer">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <a href="/"><img
                        src="{% static 'gotango/img/logo_no_tm_blue.svg' %}"
                        height="60" alt="GoTango"/></a>
                <ul class="o-list-bare">
                    <li>
                        <a href="/terms/" style="color:#606C7F">Privacy & Terms</a>
                    </li>

                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem">
                    <li class="subitem__title">Contact us</li>
                    <li><a style="color:#9EA8B9" href="tel:+919663552111"><i class="mdi mdi-phone"></i> +91 9663552111</a>
                    </li>
                    <li><a style="color:#9EA8B9" href="mailto:support@GoTango.in"><i class="mdi mdi-email"></i>support@GoTango.in</a>
                    </li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--address">
                    <li class="subitem__title">&nbsp;</li>
                    <li><a style="color:#9EA8B9" ><i class="mdi mdi-map-marker"></i>GoTango #61/122 1st cross
                        Lakshmi Layout Marathahalli<br>Bangalore</a></li>
                    <li><a style="color:#9EA8B9" >Available only in Bangalore</a></li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--socials">
                    <li class="subitem__title">Find us on</li>

                    <li><a class="social" style="color:#9EA8B9" href="https://www.facebook.com/GoTango.in/"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-facebook"></i>GoTango Facebook</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://twitter.com/GoTangoIn" target="_blank"><i
                            style="color:#305cd3" class="mdi mdi-twitter"></i>GoTango Twitter</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://www.linkedin.com/company/gotango"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-linkedin"></i>GoTango LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>

</html> <!-- end of site. what a ride! -->


<!-- Localized -->