<!doctype html>

<!--[if lt IE 7]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoTango - The online service center.</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="icon" href="{% static 'gotango/img/favicon-copy.png' %}">
    <!--[if IE]>
                <link rel="shortcut icon" href="wp-content/themes/eddiemachado-bones-79c7610/favicon.ico">
            <![endif]-->


    <!-- This site is optimized with the Yoast SEO plugin v4.0.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="robots" content="noodp"/>

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="GoTango Features - The online service center for smartphone repair in Bangalore."/>
    <meta property="og:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta property="og:url" content="https://www.GoTango.in/"/>
    <meta property="og:site_name" content="GoTango"/>

    <meta name="twitter:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="twitter:title" content="GoTango - The online service center for smartphone repair."/>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='https://fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='https://s.w.org'/>


    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='googleFonts-css'
          href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' type='text/css' media='all'/>

    <link rel='stylesheet' id='bones-stylesheet-css' href='{% static 'gotango/css/homepage/main.css' %}' type='text/css'
          media='all'/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <link href="{% static 'gotango/css/materialize.css' %}" rel="stylesheet">

    <link href="{% static 'gotango/css/icons.min.css' %}" rel="stylesheet">

</head>

<script>
    $(window).scroll(function () {
        var y = $(window).scrollTop();

        $(".section--menu").css("background-color", "#1E88E5");

    });
    $(document).ready(function(){

        $("#a-contact").click(function() {
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });

        $("#a-navbar-menu").click(function() {
            $("#menu-the-main-menu").toggle();
        });
    });


</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424342-1', 'auto');
  ga('send', 'pageview');

</script>

<body class="home page-template page-template-page-homepage page-template-page-homepage-php page page-id-8" itemscope
      itemtype="http://schema.org/WebPage">

<div class="section section--menu">
    <div class="site-wrapper">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-1/5@desktop header__item">
                <a class="header--logo" href="/"><img
                        src="{% static 'gotango/img/gotango_logo_no_tm.svg' %}"
                        class="header__logo"/></a>
            </div>
            <div class="o-layout__item u-1/2 u-4/5@desktop o-layout--right">
                <div class="menu">
                    <a id="a-navbar-menu" href="#" class="menu__mobile-trigger hidden-from-start@desktop visible-from-start@mobile"><i
                            class="fa fa-bars"></i><i class="fa fa-close"></i></a>
                    <ul id="menu-the-main-menu" class="menu__items o-list-inline" style="display: none;">
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
                            <a id="a-howitworks" href="/#howitworks">How it works</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                            <a id="a-features" href="/#features">Features</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-315">
                            <a id="a-pricing" href="/#pricing">Pricing</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-317">
                            <a id="a-contact" href="#contact">Contact</a></li>
                        <li class="o-list-inline__item button button--reverse menu-item menu-item-type-custom menu-item-object-custom menu-item-31"
                            style="cursor: hand">
                            <a class="button button--reverse" href="/book">BOOK NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section--element section--terms">
    <div class="site-wrapper" style="padding: 0 3rem">
        <br>
        <br>
        <h1>GoTango Privacy &amp; Terms</h1>
        <p>We offer you a warm welcome to GoTango.</p>
        <p>Last updated on 4th May 2016 </p>

        <p>These terms and privacy apply to your access to, and use of the website (defined hereinbelow).The website is
            operated by ADAS technologies. This electronic record is generated by a computer system and does not require
            any physical or digital signatures. By continuing usage of the website, You are consenting to be bound by
            these privacy policy and terms & condition. PLEASE ENSURE THAT YOU READ AND UNDERSTAND ALL THESE T&Cs BEFORE
            YOU USE THE WEBSITE AND FEATURES CONTAINED THEREIN. If You find anything unacceptable, do not tender your
            acceptance to use the website or avail any of its features. YOUR AGREEMENT TO THESE privacy policy and terms
            SHALL OPERATE AS A BINDING AND LEGALLY ENFORCEABLE AGREEMENT BETWEEN YOU AND THE COMPANY IN RESPECT OF THE
            FEATURES OFFERED/AVAILED USING THE WEBSITE
        </p>

        <h1>Privacy Policy</h1>
        <p>These terms and conditions (Service-User terms) apply on the usage of our website www.gotango.in (the
            "Website"),as well as to all information, recommendations and/or services provided to you through the
            Website or through the Customer Care (The CC) centralised phone number +91-9663552111. The term 'YOU' refers
            to the user of our services through Website, and the CC.</p>
        <p>This Privacy Policy sets out GoTango policy with respect to information, including in particular information
            which identifies you personally and other information that is collected from visitors and users of the
            Services.</p>
        <p>Please read the privacy policy so that you understand the treatment of your information by us. By using any
            of our Services, you confirm that you have read, understood and agree to this privacy policy and the terms &
            condition. If you do not agree to this policy, please do not use any of the Services. If you have any
            queries, please email us at support@gotango.in</p>
        <p>We collect Personal Data from you when you voluntarily provide such information, such as when you contact us
            with inquiries, respond to one of our surveys, register for access to the Services or use certain Services.
            By voluntarily providing us with Personal Data, you are consenting to our use of it in connection with the
            Services and in accordance with this Privacy Policy.
            When you interact with GoTango through the Services, we receive and store certain information which does not
            identify you personally. Such information is collected passively using various technologies. This
            includes:</p>
        <p>Technical or other details about any device which you use to access the Services, including: Internet and/or
            network connection; your Media Access Control (MAC); any device Unique Device Identifier (UDID) or
            equivalent; your operating system, browser type or other software; your hardware or mobile device details
            (including your mobile device type and number and mobile carrier details), if applicable; or other technical
            details. This is technical data about our users and their actions and patterns, which we do not believe
            identifies any individual.
            GoTango may store such information itself or such information may be included in databases owned and
            maintained by GoTangos’ employees.The Services may use such information and pool it with other information
            on an anonymised and generalised basis to track, for example, the total number of users of our Services, the
            number of visitors to each page of our Site and the domain names of our visitors' Internet service
            providers. It is important to note that no Personal Data is available or used in this process.</p>
        <p>GoTango uses your information in following ways:</p>
        <ul class="usual">
            <ul class="usual">
                <li>A. To implement and monitor any GoTango booking which you make using our services.</li>
                <li>B. To share your Personal Data with GoTango employees in order to carry out your booking using our
                    services.
                </li>
                <li>C. To provide you with information, products or services that you request from us or which we feel
                    may interest you.
                </li>
                <li>D. To notify you about changes to our Services</li>
                <li>E. To improve or modify the Services, for example based on how you use our Services.</li>
            </ul>
        </ul>
        <p>This Privacy Policy applies only to GoTango.in. The Services may contain links to other web sites not
            operated or controlled by GoTango (the "Third Party Sites"). The policies and procedures we described here
            do not apply to the Third Party Sites. The links from the Services do not imply that GoTango endorses or has
            reviewed the Third Party Sites. We suggest contacting those sites directly for information on their privacy
            policies.
        </p>
        <p>GoTango takes reasonable steps to protect the Personal Data provided via the Services from loss, misuse, and
            unauthorized access, disclosure, alteration, or destruction. However, no Internet or e-mail transmission is
            ever fully secure or error free; any transmission is at your own risk. In particular, e-mail sent to or from
            the Services may not be secure. Therefore, you should take special care in deciding what information you
            send to us via e-mail. Please keep this in mind when disclosing any Personal Data to GoTango via Internet.
            Once we have received your information, we will use strict procedures and security features to try to
            prevent unauthorised access.</p>
        <p>The Services may change from time to time. As a result, at times it may be necessary for GoTango to make
            changes to this Privacy Policy. Therefore, we may update this privacy policy from time to time (for example,
            to reflect changes in our business or the law). Any changes we may make will be posted on this page and we
            will highlight to you any material changes which we make. This Privacy Policy was last updated on the date
            indicated above. Your continued use of the Services after any changes or revisions to this Privacy Policy
            shall indicate your agreement with the revised terms.</p>

        <h1>Terms & Conditions</h1>
        <p>These terms and condition ("TERMS OF USE") state important requirements regarding your usage of GoTango
            website. You should read them carefully as they contain important information which we feel should be
            acknowledged by the user. If you use our service then these terms will be applicable in all the
            circumstances whatever they may be. Please note that when you use our service then we assume that you have
            already read all the terms and are willingly complying with them.</p>
        <p><b>In warranty products</b></p>
        <p>We are an aggregator and have collaborated with authorized service center of the brands we serve. In case you
            select the authorized service center then, you will be informed about the center where your device has gone
            for repair. We don’t owe any responsibility for any damage done by the service center to your device during
            repair. We will provide minimum 1 month warranty after repair which may increase with the respective brands.
            Warranty coverage vary with the brands so, if any problem which is not covered in warranty by your brand
            will be chargeable after repair.

            Dead phones with no identity number viz. IMEI or any other shall be identified through their physical
            appearance and GoTango will not be liable in case you think your phone has been changed with any
            other phone.
            In cases, where the original bill is not presented for in warranty products then the service centre may deny
            repairing the same as they demand original bill for in warranty products.</p>
        <p><b>Out of warranty Products</b></p>
        <p>Out of warranty products has two category of centres to select from viz. Authorised service centres and
            GoTango certified repair centres.</p>
        <p>Authorised Service centre: These are the company authorised service centres which also takes in warranty
            products. Parts used by them is totally on their discretion. GoTango is not involved in the actual repair
            process. GoTango is a facilitator which gets your gadget repaired by them. Any kind damage done by them to
            your gadget is not our responsibility. You will always be informed about the service centre and you can
            track your order at our website or from the service center directly by using the job sheet no. which will be
            provided to you by us. </p>
        <p>GoTango Certified repair centers: These are some of the best centers of the city and provide best quality and
            price as per our knowledge. These centers are given the authority to repair the order received on
            GoTango.in. Since we are an aggregator so, we don’t take full responsibility of the repair done by them but
            we shall try to suffice the mistake done by them to an extent. If we feel that we can’t do much about the
            case then our vendor and you has to talk directly to settle the matter whatsoever it may be. </p>
        <p><b>Standby Mobile</b></p>
        <p>We provide standby mobile to you but the availability of the same may change from time to time. It may be
            possible that you may not the get the same even if you opt for one in case of unavailability of the mobile.
            You have to return the standby mobile in same condition as it was given to you. Any damage done to the
            standby mobile will solely be your responsibility. </p>
        <p><b>Warranty on repair</b></p>
        <p>When you have selected authorized center for repair then warranty provided on repair will be decided by the
            service center of your respective brand. In other case, when you have selected GoTango certified center then
            you will get 1 month warranty only on the part replaced or repaired by the center. There won’t be any
            warranty on any other part or problem which was not the part of the repair process. Warranty will not be
            applicable if we feel that the device has undergone any kind of physical damage which includes damages due
            to water too. We are not responsible for any other problem which we have not addressed during repair. </p>
    </div>
</div>

<div id="contact" class="section section--element section--footer home--footer">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <a href="/"><img
                        src="{% static 'gotango/img/logo_no_tm_blue.svg' %}"
                        height="60" alt="GoTango"/></a>
                <ul class="o-list-bare">
                    <li>
                        <a href="terms/index.html" style="color:#606C7F">Privacy & Terms</a>
                    </li>

                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem">
                    <li class="subitem__title">Contact us</li>
                    <li><a style="color:#9EA8B9" href="tel:+919663552111"><i class="mdi mdi-phone"></i> +91 9663552111</a>
                    </li>
                    <li><a style="color:#9EA8B9" href="mailto:support@GoTango.in"><i class="mdi mdi-email"></i>support@GoTango.in</a>
                    </li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--address">
                    <li class="subitem__title">&nbsp;</li>
                    <li><a style="color:#9EA8B9" ><i class="mdi mdi-map-marker"></i>GoTango #61/122 1st cross
                        Lakshmi Layout Marathahalli<br>Bangalore</a></li>
                    <li><a style="color:#9EA8B9" >Available only in Bangalore</a></li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--socials">
                    <li class="subitem__title">Find us on</li>

                    <li><a class="social" style="color:#9EA8B9" href="https://www.facebook.com/GoTango.in/"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-facebook"></i>GoTango Facebook</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://twitter.com/GoTangoIn" target="_blank"><i
                            style="color:#305cd3" class="mdi mdi-twitter"></i>GoTango Twitter</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://www.linkedin.com/company/gotango"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-linkedin"></i>GoTango LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
