<!doctype html>

<!--[if lt IE 7]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoTango - The online service center.</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="icon" href="{% static 'gotango/img/favicon-copy.png' %}">
    <!--[if IE]>
                <link rel="shortcut icon" href="wp-content/themes/eddiemachado-bones-79c7610/favicon.ico">
            <![endif]-->


    <!-- This site is optimized with the Yoast SEO plugin v4.0.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="robots" content="noodp"/>

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="GoTango Features - The online service center for smartphone repair in Bangalore."/>
    <meta property="og:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta property="og:url" content="https://www.GoTango.in/"/>
    <meta property="og:site_name" content="GoTango"/>

    <meta name="twitter:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="twitter:title" content="GoTango - The online service center for smartphone repair."/>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='https://fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='https://s.w.org'/>


    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='googleFonts-css'
          href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' type='text/css' media='all'/>
   
    <link rel='stylesheet' id='bones-stylesheet-css' href='{% static 'gotango/css/homepage/main.css' %}' type='text/css'
          media='all'/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <link href="{% static 'gotango/css/materialize.css' %}" rel="stylesheet">

    <link href="{% static 'gotango/css/icons.min.css' %}" rel="stylesheet">

</head>

<script>
    $(window).scroll(function () {
        var y = $(window).scrollTop();
        if (y > 100) {
            $(".section--menu").css("background-color", "#1E88E5");
        } else $(".section--menu").css("background-color", "");
    });
    $(document).ready(function(){
        $("#a-contact").click(function() {
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });
        
        $("#a-navbar-menu").click(function() {
            $("#menu-the-main-menu").toggle();
        });
    });


</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424342-1', 'auto');
  ga('send', 'pageview');

</script>

<body class="home page-template page-template-page-homepage page-template-page-homepage-php page page-id-8" itemscope
      itemtype="http://schema.org/WebPage">

<div class="section section--menu">
    <div class="site-wrapper">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-1/5@desktop header__item">
                <a class="header--logo" href="/"><img
                        src="{% static 'gotango/img/gotango_logo_no_tm.svg' %}"
                        class="header__logo"/></a>
            </div>
            <div class="o-layout__item u-1/2 u-4/5@desktop o-layout--right">
                <div class="menu">
                    <a id="a-navbar-menu" href="#" class="menu__mobile-trigger hidden-from-start@desktop visible-from-start@mobile"><i
                            class="fa fa-bars"></i><i class="fa fa-close"></i></a>
                    <ul id="menu-the-main-menu" class="menu__items o-list-inline" style="display: none;">
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
                            <a id="a-howitworks" href="/#howitworks">How it works</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                            <a id="a-features" href="/#features">Features</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-315">
                            <a id="a-pricing" href="/#pricing">Pricing</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-317">
                            <a id="a-contact" href="#contact">Contact</a></li>
                        <li class="o-list-inline__item button button--reverse menu-item menu-item-type-custom menu-item-object-custom menu-item-31"
                            style="cursor: hand">
                            <a class="button button--reverse" href="/book">BOOK NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 



<div class="section section--header header--features">
    <div class="site-wrapper">
        <div class="header-cta">
            <h1 class="header__text">All the reasons to use GoTango for your gadget repair needs. </h1>
        </div>
    </div>
</div>
<div class="section section--element section--big-features">
    <div class="site-wrapper big-features">
        <div class="o-layout o-layout--middle o-layout--reverse big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop big-features__item--right">
                <img src="{% static 'gotango/img/spare.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Spare phone while your phone is in repair.</h2>
                <p>
                    You can choose to opt for a spare smartphone to remain connected while your device is in repair.
                    These spare phones are basic android phones. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop">
                <img src="{% static 'gotango/img/qa.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Dedicated team for quality assurance</h2>
                <p>
                    We have a dedicated team to ensure the quality of repair done is high. We follow a 18 point quality
                    check before and after the repair. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle o-layout--reverse big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop big-features__item--right">
                <img src="{% static 'gotango/img/price.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Best in market prices.</h2>
                <p>
                    Our prices are reasonable given the high quality of spare parts that we use for your device. We
                    believe in long lasting repair so it is value for your money completely. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop">
                <img src="{% static 'gotango/img/freepickupdrop.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Free pickup and drop.</h2>
                <p>
                    Avoid the hassle of traffic and long waiting time at the center. Avail free pickup and drop
                    for repairs at GoTango workshop. Your place. Your time. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle o-layout--reverse big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop big-features__item--right">
                <img src="{% static 'gotango/img/inwarrantyrepairs.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>In warranty repairs.</h2>
                <p>
                    We are partnered with authorised service centers of all major brands to serve devices which
                    are in warranty also. Brands like Samsung, Apple, Mi, Lenovo, Huawei, Motorola, Nokia etc are some
                    of the brands for which we do in warranty repairs also. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop">
                <img src="{% static 'gotango/img/3monthwarranty.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Re-servicing if unsatisfied.</h2>
                <p>
                    We offer 3 months warranty on most of the repairs. If you are unsatisfied with the repair or
                    face issues within the 3 months of repair we have got you covered. </p>
            </div>
        </div>
        <div class="o-layout o-layout--middle o-layout--reverse big-features__item">
            <div class="o-layout__item u-1/2@tablet u-1/2@desktop big-features__item--right">
                <img src="{% static 'gotango/img/technician.svg' %}"/>
            </div>
            <div class="o-layout__item  u-1/2@tablet u-1/2@desktop">
                <h2>Experienced and professional technicians.</h2>
                <p>
                    We have a team of industry experts. Senior technicians with more than 10 years of experience. We
                    have experts for softwares, part replacement, motherboard level repair etc. We do it all.</p>
            </div>
        </div>
    </div>
</div>
<div class="section section--element section--bgheader" style="padding-bottom: 0rem; padding-top: 0rem" >
    <img src="{% static 'gotango/img/subpagebg.svg' %}"/>
</div>
<div class="section section--element section--contact">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item o-layout--center">
                <h3>What are you waiting for?</h3>
                <h4>Are you ready to give your non working phone a new life? Get your phones repaired at GoTango and
                    experience the new way of repair.</h4>
                <a href="/book" class="button  button--large button--reverse button--setwidth">BOOK NOW</a>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="section section--element section--footer home--footer">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <a href="/"><img
                        src="{% static 'gotango/img/logo_no_tm_blue.svg' %}"
                        height="60" alt="GoTango"/></a>
                <ul class="o-list-bare">
                    <li>
                        <a href="/terms/" style="color:#606C7F">Privacy & Terms</a>
                    </li>

                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem">
                    <li class="subitem__title">Contact us</li>
                    <li><a style="color:#9EA8B9" href="tel:+919663552111"><i class="mdi mdi-phone"></i> +91 9663552111</a>
                    </li>
                    <li><a style="color:#9EA8B9" href="mailto:support@GoTango.in"><i class="mdi mdi-email"></i>support@GoTango.in</a>
                    </li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--address">
                    <li class="subitem__title">&nbsp;</li>
                    <li><a style="color:#9EA8B9" ><i class="mdi mdi-map-marker"></i>GoTango #61/122 1st cross
                        Lakshmi Layout Marathahalli<br>Bangalore</a></li>
                    <li><a style="color:#9EA8B9" >Available only in Bangalore</a></li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--socials">
                    <li class="subitem__title">Find us on</li>

                    <li><a class="social" style="color:#9EA8B9" href="https://www.facebook.com/GoTango.in/"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-facebook"></i>GoTango Facebook</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://twitter.com/GoTangoIn" target="_blank"><i
                            style="color:#305cd3" class="mdi mdi-twitter"></i>GoTango Twitter</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://www.linkedin.com/company/gotango"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-linkedin"></i>GoTango LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>

</html> <!-- end of site. what a ride! -->


<!-- Localized -->