<!doctype html>

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoTango - The online service center.</title>
    <link rel="canonical" href="index.html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <link rel="icon" href="{% static 'gotango/img/favicon-copy.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="wp-content/themes/eddiemachado-bones-79c7610/favicon.ico"><![endif]-->

    <meta name="theme-color" content="#1E88E5">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <!-- This site is optimized with the Yoast SEO plugin v4.0.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="robots" content="noodp"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="GoTango - The online service center for smartphone repair in Bangalore."/>
    <meta property="og:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta property="og:url" content="https://www.GoTango.in/"/>
    <meta property="og:site_name" content="GoTango"/>
    <meta name="twitter:description"
          content="The Online service centre. Online Mobile repair in Bangalore. Online Smartphone Repair in Bangalore. Broken screen repair in Bangalore.Repair at company service centre. Home delivery and pickup of Cell phones and tablets in Bangalore. Authorised service center mobile repair in Bangalore."/>
    <meta name="twitter:title" content="GoTango - The online service center for smartphone repair."/>

    <!-- / Yoast SEO plugin. -->
    <link rel='dns-prefetch' href='https://fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='https://s.w.org'/>


    <link href="{% static 'gotango/css/materialize.css' %}" rel="stylesheet">
    <link rel='stylesheet' id='googleFonts-css'
          href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' type='text/css' media='all'/>
    <link rel='stylesheet' id='bones-stylesheet-css' href='{% static 'gotango/css/homepage/main.css' %}' type='text/css'
          media='all'/>

    <script src="{% static 'gotango/js/materialize.min.js' %}"></script>
    <link href="{% static 'gotango/css/icons.min.css' %}" rel="stylesheet">
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92424342-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
    $(window).scroll(function () {
        var y = $(window).scrollTop();
        if (y > 100) {
            $(".section--menu").css("background-color", "#1E88E5");
        } else $(".section--menu").css("background-color", "");
    });
    $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({fullWidth: true});
       
        $("#a-howitworks").click(function() {
            $('html, body').animate({
                scrollTop: $("#howitworks").offset().top
            }, 1000);

            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });

        $("#a-features").click(function() {
            $('html, body').animate({
                scrollTop: $("#features").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });

        $("#a-pricing").click(function() {
            $('html, body').animate({
                scrollTop: $("#pricing").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });

        $("#a-contact").click(function() {
            $('html, body').animate({
                scrollTop: $("#contact").offset().top
            }, 1000);
            if($("#menu-the-main-menu").is(':visible')) {
                //close the menu
                $("#menu-the-main-menu").toggle();
            }
        });
        
        $("#a-navbar-menu").click(function() {
            $("#menu-the-main-menu").toggle();
        });
    });

</script>




<body class="home page-template page-template-page-homepage page-template-page-homepage-php page page-id-8" itemscope
      itemtype="http://schema.org/WebPage">

<div class="section section--menu">
    <div class="site-wrapper">
        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-1/5@desktop header__item">
                <a class="header--logo" href=""><img
                        src="{% static 'gotango/img/gotango_logo_no_tm.svg' %}"
                        class="header__logo"/></a>
            </div>
            <div class="o-layout__item u-1/2 u-4/5@desktop o-layout--right">
                <div class="menu">
                    <a id="a-navbar-menu" href="#" class="menu__mobile-trigger hidden-from-start@desktop visible-from-start@mobile"><i
                            class="fa fa-bars"></i><i class="fa fa-close"></i></a>
                    <ul id="menu-the-main-menu" class="menu__items o-list-inline" style="display: none;">
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-316">
                            <a id="a-howitworks" href="#howitworks">How it works</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-318">
                            <a id="a-features" href="#features">Features</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-315">
                            <a id="a-pricing" href="#pricing">Pricing</a></li>
                        <li class="o-list-inline__item header__link menu-item menu-item-type-post_type menu-item-object-page menu-item-317">
                            <a id="a-contact" href="#contact">Contact</a></li>
                        <li class="o-list-inline__item button button--reverse menu-item menu-item-type-custom menu-item-object-custom menu-item-31"
                            style="cursor: hand">
                            <a class="button button--reverse" href="/book">BOOK NOW</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 
 


<div class="section section--header">
    <div class="site-wrapper">
        <div class="header-cta">
            <div class="o-layout o-layout--reverse o-layout--middle cta--image">
                <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/2@desktop">
                    <img src="{% static 'gotango/img/home.svg' %}"/>
                </div>
                <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/2@desktop">
                    <h1 class="header__text">The online service center for smartphone and tablet repair. </h1>
                    <a class="button button--reverse  button--large" href="/book">REPAIR MY DEVICE</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="howitworks" class="section section--element" style="height:700px;">
    <div class="site-wrapper">

        <div id="inner" class="carousel carousel-slider center carousel-inner" data-indicators="true" >

            <div class="carousel-item" href="#one!" style="height:610px;">
              <h2>Book the repair of your faulty device online</h2>
                        <p>
                            Create a booking with the details of your faulty device on the website or you can directly reach out
                            on +91-9663552111 to create a booking request. That’s it. You have done your part! </p>
                        <img src="{% static 'gotango/img/book.svg' %}"
                             style="width:705px; height:510px;"/>
            </div>
            <div class="carousel-item" href="#two!" style="height:610px;">
              <h2>Handover your faulty device to the Tango</h2>
                        <p>
                            One of the field executive picks up the faulty device at your preferred location and time. The device is then sent to the GoTango workshop or the Authorised service center for repair.</p>
                        <img src="{% static 'gotango/img/pickup-2.svg' %}"
                             style="width:705px; height:510px;"/>
            </div>
            <div class="carousel-item" href="#three!" style="height:610px;">
              <h2>Repair of the device at in-house repair workshops</h2>
                        <p>
                            The device is repaired at the in-house GoTango workshop led by a team of industry experts or it is
                            sent to authorised service center based on user's requirement.
                            All the magic happens here!
                        </p>
                        <img src="{% static 'gotango/img/repair.svg' %}"
                             style="width:705px; height:510px;"/>
            </div>
            <div class="carousel-item" href="#four!" style="height:610px;">
              <h2>Collect your repaired device from the Tango and make the payment</h2>
                        <p>
                            One of the field executive delivers the repaired device at your preferred location and time. You can
                            then make the payment and collect your device. </p>
                        <img src="{% static 'gotango/img/delivery-2.svg' %}"
                             style="width:705px; height:510px;"/>
            </div>

          </div>
    </div>
</div>


<div id="features" class="section section--element section--features">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1 o-layout--center">
                <h2>Our Features</h2>
                <div class="o-layout o-layout--large">
                    <div class="o-layout__item u-1/1  u-1/3@tablet  u-1/3@desktop o-layout--center">
                        <img src="{% static 'gotango/img/pickdrop.svg' %}"/>
                        <h3>Free Pickup & Drop</h3>
                        <p>Avoid the hassle of traffic and long waiting time at the center. Avail free pickup and drop
                            for repairs at GoTango workshop. Your place. Your time. </p>
                    </div>

                    <div class="o-layout__item u-1/1  u-1/3@tablet  u-1/3@desktop o-layout--center">
                        <img src="{% static 'gotango/img/inwarranty.svg' %}"/>
                        <h3>In warranty repairs</h3>
                        <p>We are partnered with authorised service centers of all major brands to serve devices which
                            are in warranty also.</p>
                    </div>

                    <div class="o-layout__item u-1/1  u-1/3@tablet  u-1/3@desktop o-layout--center">
                        <img src="{% static 'gotango/img/warranty.svg' %}"/>
                        <h3>Re-servicing if unsatisfied</h3>
                        <p>We offer 3 months warranty on most of the repairs. If you are unsatisfied with the repair or
                            face issues within the 3 months of repair we have got you covered.</p>
                    </div>

                    <div class="o-layout__item u-1/1 o-layout--center">
                        <a href="features/" class="button button--large button--reverse">SEE MORE FEATURES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section--divider">
    <div class="site-wrapper">
        <div class="divider">
        </div>
    </div>
</div>

<div id="pricing" class="section section--element section--team">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1 o-layout--center">
                <h2>Get your device checked for FREE</h2>
                <p>
                    At GoTango workshop you are charged only if the device is repaired. No minimum/inspection/diagnosis
                    charges. For authorised service centers there is a convenience fee of Rs 249 applicable. </p>
                <p>To know your estimated prices for repair request a quote</p>
                <a class="button button--reverse  button--large" href="/quote">REQUEST A QUOTE</a>
            </div>
        </div>
    </div>
</div>

<div class="section section--element section--slope section--nopadding">
    <div class="site-wrapper">
        <div class="o-layout o-layout--reverse o-layout--middle">
            <div class="o-layout__item u-1/1 u-1/2@tablet u-1/2@desktop">
                <h2>We're highest rated repair service in Bangalore!</h2>
            </div>

            <div class="o-layout__item u-1/1 u-1/2@tablet u-1/2@desktop">
                <div class="footer__phones" style="padding-top:25%">
                    <video width="300" height="300" controls autoplay loop class="responsive-video">
                        <source src="{% static 'gotango/videos/social2.mp4' %}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="section section--element section--footer home--footer">
    <div class="site-wrapper">
        <div class="o-layout">
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <a href=""><img src="{% static 'gotango/img/logo_no_tm_blue.svg' %}"
                                height="60" alt="GoTango"/></a>
                <ul class="o-list-bare">
                    <li><a href="/terms/" style="color:#606C7F">Privacy & Terms</a></li>
                </ul>
            </div>

            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem">
                    <li class="subitem__title">Contact us</li>
                    <li><a style="color:#9EA8B9" href="tel:+919663552111"><i class="mdi mdi-phone"></i> +91 9663552111</a>
                    </li>
                    <li><a style="color:#9EA8B9" href="mailto:support@GoTango.in"><i class="mdi mdi-email"></i>support@GoTango.in</a>
                    </li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--address">
                    <li class="subitem__title">&nbsp;</li>
                    <li><a style="color:#9EA8B9" ><i class="mdi mdi-map-marker"></i>GoTango #61/122 1st cross
                        Lakshmi Layout Marathahalli<br>Bangalore</a></li>
                    <li><a style="color:#9EA8B9" >Available only in Bangalore</a></li>
                </ul>
            </div>
            <div class="o-layout__item u-1/1  u-1/2@tablet  u-1/4@desktop">
                <ul class="o-list-bare subitem subitem--socials">
                    <li class="subitem__title">Find us on</li>

                    <li><a class="social" style="color:#9EA8B9" href="https://www.facebook.com/GoTango.in/"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-facebook"></i>GoTango Facebook</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://twitter.com/GoTangoIn" target="_blank"><i
                            style="color:#305cd3" class="mdi mdi-twitter"></i>GoTango Twitter</a></li>
                    <li><a class="social" style="color:#9EA8B9" href="https://www.linkedin.com/company/gotango"
                           target="_blank"><i style="color:#305cd3" class="mdi mdi-linkedin"></i>GoTango LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>