<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Order {{ order_details.id }} Details</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/order.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <style>

        .box {
            border: 1px solid grey;
            background-color: green;
        }

    </style>
</head>
<body>

<div class="container">

    <div class="row header">
        <h1>Order Details&nbsp;</h1>

    </div>

    <div>
        <form action="#">
            <h3>Order</h3>
            <p>Order Id : {{ order_details.id }}</p>
            <p>Encrypted Order Id : {{ order_details.encrypted_id }}</p>
            <p>Created Time : {{ order_details.time_created }}</p>
            <p>Device : {{ order_details.device }}</p>
            <p>Color : {{ order_details.color }}</p>
            <p>Status : {{ order_details.status }}</p>
            <p>Defect Description: {{ order_details.defect_desc }}</p>
            <p>Phone number given in this order: {{ order_details.phone_number }}</p>
            <p>SC Type: {{ order_details.service_center_type }}</p>
            <p> In warranty: {{ order_details.warranty }} </p>
            <h3>Defects</h3>
            {% for defect in order_details.defectlist %}
                <p>  {{ defect.defect_id.defect_name }}</p>
            {% endfor %}
            <h3>User</h3>
            <p>Name : {{ order_details.user_name }}</p>
            <p>Email : {{ order_details.user_email }}</p>
            <p>Phone : {{ order_details.user_phone }}</p>

            {% for usercontact in order_details.usercontactlist %}
                <p>  {{ usercontact.contact_value }}</p>
            {% endfor %}
            <h3>PickUp Address</h3>
            <p>First line : {{ order_details.pickup_address_first_line }}</p>
            <p>Second line : {{ order_details.pickup_address_second_line }}</p>
            <p>Landmark : {{ order_details.pickup_address_landmark }}, Area
                : {{ order_details.pickup_address_area }}</p>

            <p>Pickup Date : {{ order_details.pickup_date }}</p>
            <h3>Applied Incentive</h3>
            {% for incentive in order_details.incentivelist %}
                <p> {{ incentive.incetive_id.incentive_id }}</p>
                <p> {{ incentive.incetive_id.incentive_type }}</p>
                <p> {{ incentive.incetive_id.incentive_amount }}</p>
            {% endfor %}
            <h3>More Info</h3>
            <p>Amount : {{ order_details.actual_cost }}</p>
            <p>Standby : {{ order_details.standby }}</p>
            <p>Parent Order Id : {{ order_details.parent_order_id }}</p>
            <p>Admin comments : {{ order_details.admin_comments }}</p>
        </form>

    </div>
    <!--Bootstrap is not working for some reason-->
    <!-- <div class="row body">
      <form action="#">

        <ul>
          <h2>Order</h2>
           <li>
            <p class="left">
              <label for="order_id">id</label>
              <input type="text" name="order_id" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="device_name">device</label>
              <input type="text" name="device_name" value="Smith" readonly/>
            </p>
          </li>

          <li>
            <p class="left">
              <label for="time_created">created time</label>
              <input type="text" name="time_created" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="status">status</label>
              <input type="text" name="status" value="Smith" readonly/>
            </p>
          </li>

           <li>
            <p>
              <label for="defect_desc">email</label>
              <input type="text" name="defect_desc" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>

           <li><div class="divider"></div></li>

          <h3>User</h3>

          <li>
            <p class="left">
              <label for="user_name">name</label>
              <input type="text" name="user_name" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="user_phone">phone</label>
              <input type="text" name="user_phone" value="Smith" readonly/>
            </p>
          </li>

          <li>
            <p>
              <label for="user_email">email</label>
              <input type="text" name="email" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>
          <li><div class="divider"></div></li>

          <h3>pickup address</h3>

          <li>
            <p>
              <label for="pickup_address_line1">name</label>
              <input type="text" name="pickup_address_line1" value="John" readonly/>
            </p>

          </li>

          <li>
            <p>
              <label for="pickup_address_line2">email</label>
              <input type="text" name="pickup_address_line2" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>



        </ul>
      </form>
    </div> -->
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>

