<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quote {{ quote_details.id }} Details</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/quote.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

        .box {
            border: 1px solid grey;
            background-color: green;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row header">
        <h1>Quote Details&nbsp;</h1>

    </div>

    <div>
        <form action="#">
            <h3>Quote</h3>
            <p>Quote Id : {{ quote_details.id }}</p>
            <p>Encrypted Id : {{quote_details.encrypted_id}}</p>
            <p>Created Time : {{ quote_details.time_created }}</p>
            <p>Device : {{ quote_details.device }}</p>
            <p>Query : {{ quote_details.query }}</p>
            <p>City : {{ quote_details.city }}</p>
            <p>Phone number for this quote: {{ quote_details.phone_number }}</p>
            <p>Admin Comments : {{ quote_details.admin_comments }}</p>
            <p>is_addressed : {{ quote_details.is_addressed }}</p>

            <h3>User</h3>
            <p>Name : {{ quote_details.user_name }}</p>
            <p>Email : {{ quote_details.user_email }}</p>
            <p>Phone : {{ quote_details.user_phone }}</p>
            {% for usercontact in quote_details.usercontactlist %}
                <p>  {{ usercontact.contact_value }}</p>
            {% endfor %}
            <h3>Applied Defects</h3>
            {% for defect in quote_details.defectlist %}
                <p>  {{ defect.defect_id.defect_name }}</p>
            {% endfor %}
        </form>
    </div>
    <!--Bootstrap is not working for some reason-->
    <!-- <div class="row body">
      <form action="#">

        <ul>
          <h2>Order</h2>
           <li>
            <p class="left">
              <label for="order_id">id</label>
              <input type="text" name="order_id" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="device_name">device</label>
              <input type="text" name="device_name" value="Smith" readonly/>
            </p>
          </li>

          <li>
            <p class="left">
              <label for="time_created">created time</label>
              <input type="text" name="time_created" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="status">status</label>
              <input type="text" name="status" value="Smith" readonly/>
            </p>
          </li>

           <li>
            <p>
              <label for="defect_desc">email</label>
              <input type="text" name="defect_desc" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>

           <li><div class="divider"></div></li>

          <h3>User</h3>

          <li>
            <p class="left">
              <label for="user_name">name</label>
              <input type="text" name="user_name" value="John" readonly/>
            </p>
            <p class="pull-right">
              <label for="user_phone">phone</label>
              <input type="text" name="user_phone" value="Smith" readonly/>
            </p>
          </li>

          <li>
            <p>
              <label for="user_email">email</label>
              <input type="text" name="email" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>
          <li><div class="divider"></div></li>

          <h3>pickup address</h3>

          <li>
            <p>
              <label for="pickup_address_line1">name</label>
              <input type="text" name="pickup_address_line1" value="John" readonly/>
            </p>

          </li>

          <li>
            <p>
              <label for="pickup_address_line2">email</label>
              <input type="text" name="pickup_address_line2" value="john.smith@gmail.com"  readonly/>
            </p>
          </li>
        </ul>
      </form>
    </div> -->
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
